<h1>User#invitations</h1>

<div id="invitations">
  <% @invitations.each do |invitation| %>
    <% if invitation.friend_id == current_user.id%>
      <%= render invitation %>
      <%= current_user.pending_invitations.inspect %>
       
      <p>
        <%= link_to "Accept", accept_invitation(current_user.id, invitation), remote: true %>
      </p>
      <p>
        <%= link_to "Reject", reject_invitation(current_user.id, invitation), remote: true %>
      </p>
    <% end %>
  <% end %>
</div>
