/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.main-navbar {
  display: flex;
	gap: 16px;
}

.nav-item {
  list-style: none;
}

.homepage-post {
	outline: auto;
	width: 200px;
	text-align: center;
	padding: 8px 16px;
}

body .registration-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: auto;
  margin-bottom: auto;
}

.nav-link {
  text-decoration: none;
  color: #3da7f8;
  font-weight: bold;
}

/* Signed out users */

.new_user {
	width: 350px;
	height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.new_user input {
  height: 24px;
  width: 264px;
}

.actions input {
  background-color: #3da7f8;
  color: white;
  border: none;
  border-radius: 8px;
}

